@keyframes fadeIn {
    from    { opacity:0; }
    to      { opacity:1; }
}

@keyframes fadeOut {
    from    { opacity:1; }
    to      { opacity:0; }
}

.fade {
    position: absolute;
    opacity: 1;
    width: 100%;
}

.fade.ng-enter {
    animation: fadeIn 0.2s both ease-in 0.2s;
    z-index: 8888;
}

.fade.ng-leave {
    animation: fadeOut 0.2s both ease-in;
    z-index: 9999;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.fade.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave-active {
    opacity: 0;
}

.fade-inner {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;

  &.ready {
    opacity: 1;
  }
}