<ul class="nav navbar-nav">
  <li ng-class="{active : isActive('/')}">
    <a ng-href="/" href="/">Home</a>
  </li><li ng-class="{active : isActive('/sample-page/')}">
    <a ng-href="/sample-page/" href="/sample-page/">Sample page</a>
  </li><li ng-class="{active : isActive('/posts/')}">
    <a ng-href="/posts/" href="/posts/">Posts archive</a>
  </li><li ng-class="{active : isActive('/post/hello-world/')}">
    <a ng-href="/post/hello-world/" href="/post/hello-world/">Single post</a>
  </li>
</ul>
